@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --primary: #2b5897;
    --secondary: #595858;
}

* {
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
    cursor: default;
}

p {
    color: var(--secondary);
}

h1 {
    font-size: 20px;
}

footer {
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

button {
    border: none;
}

.hero p {
    font-size: 18px;
}

.hero button {
    background-color: var(--primary);
}

#testimonials {
    background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
}

#about_us .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card:hover {
    transition: all;
    transform: scale(1.05);
    transition-duration: 0.3s;
    opacity: 70%;
}

.illustration {
    width: 100%;
    height: 100%;
}
