@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --primary: #2B5897;
    --secondary: #595858;
}

* {
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    color: var(--secondary);
}

h1 {
    font-size: 20px;
}

.heroImg img {
    width: 593px;
    height: 498px;
}

.heroText h1 {
    font-size: 48px;
    width: 460px;
}

.heroText p {
    font-size: 21px;
}

.heroText button {
    background-color: var(--primary);
}

/* Services */

#find_a_doctor .card {
    width: 330px;
    height: 334px;
    border-radius: 20px;
}

#find_a_doctor .card img {
    width: 90px;
    height: 90px;
}

#find_a_doctor .card-text {
    width: 266px;
}

#find_a_doctor .card h5 {
    font-size: 24px;
}

.content button {
    color: var(--primary);
}

.decore {
    z-index: -1;
    top: 630px;
    left: 0;
}

/* Content */

.contentText h1 {
    font-size: 36px;
}

.contentText p {
    font-size: 18px;
}

/* testimonials */

#testimonials {
    background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
    border-radius: 24px;
}

/* Article */

#about_us .card {
    width: 320px;
    height: 480px;
    border-radius: 20px;
}

#about_us .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Footer */

footer {
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

footer .nav-logo {
    background-color: white;
    color: var(--primary);
}

button {
    border: none;
}
